<form [formGroup]="appForm" (ngSubmit)="OnSubmit(appForm.value)" style="width: 30%;margin-left:30%" >
    <div class="form-group">
        <input class="form-control" formControlName="id" [(ngModel)]="album.Id" required>
      </div><br/>
    <div class="form-group">
        <input type="text" class="form-control" formControlName="title" [(ngModel)]="album.Title" placeholder="Title" required>
      </div><br/>
    
      <div class="form-group">
        <input type="text" class="form-control" formControlName="artist" [(ngModel)]="album.Artist" placeholder="Artist" required>
      </div><br/>
    
      <div class="form-group">
        <input type="text" class="form-control" formControlName="description" [(ngModel)]="album.Description" placeholder="Description" required>
      </div><br/>
    
      <div class="form-group">
        <input type="number" class="form-control" formControlName="year" [(ngModel)]="album.Year" required>
      </div><br/>
    
      <div class="form-group">
        <input type="text" class="form-control" formControlName="image" [(ngModel)]="album.Image" placeholder="[1-13].png" required>
      </div><br/>
      
      <label>Track List:</label>
      <div class="form-group" *ngFor="let track of album.Tracks">
        <label>{{track.Title}}</label>
      </div><br/>

    <div align="center">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>  
</form>

